{% extends 'base.html' %}
{% load static %}
{% block title %} CATALOG {% endblock %}
{% block content %}
    <main>
        <div class="products-container">
            <div class="main-section">

                {% include 'include/filter.html' %}


                <div class="products-section">
                    <div style="width: 1000px; height: 50px">
                        <span class="founded_items">founded <b style="font-size: 16px;">{{ product_count }}</b> items</span>
                    </div>
                    <div class="products-list">
                       {% for product in products %}
                            <div class="card-item">
                                <div class="card-image">
                                    <a href="{{ product.get_absolute_url }}">
                                        <img src="{{ product.poster.url }}" alt="{{ product.name }}" style="width: 280px; height: 374px; border-radius: 10px;">
                                    </a>
                                </div>

                                <a href="{{ product.get_absolute_url }}">
                                    <span class="card-title">
                                        {{ product.name }}
                                    </span>
                                </a>
                                <span class="card-price">
                                     {{ product.price }} rub
                                </span>
                                <a href="#" class="card-cart">
                                    <i class="fa-solid fa-cart-plus"></i>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {% include 'include/pagination.html' %}

            </div>
        </div>
    </main>
{% endblock %}

