{% extends 'base.html' %}
{% load static %}
{% block title %} {{ single_product.name }} {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/card-page.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="row section">
                <div class="col-6 card-images-slider">
                    {% for image in product.productimage_set.all %}
                        <div class="card-images-slider__slider-item">
                            <img src="" alt="">
                        </div>
                    {% endfor %}
                </div>


                <div class="col-6 card-info">

                    <form class="card-info-form" action="{% url 'add_cart' single_product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="card-info__header">
                            <h1 class="card-info__header__card-title">{{ single_product.name }}</h1>

                            <span class="card-info__header__price">{{ single_product.price }} rub</span>


                            <div class="mb-3 mt-3 review-rating">
                                <span>
{#                                    <i class="fa-solid fa-star"></i>#}
{#                                    <i class="fa-regular fa-star"></i>#}
{#                                    <i class="fa-solid fa-star-half-stroke"></i>#}

                                    <i class="{% if single_product.calc_avg_rating >= 1 %} fa-solid fa-star {% elif single_product.calc_avg_rating < 0.5 %} fa-regular fa-star  {% elif single_product.calc_avg_rating >= 0.5 and single_product.calc_avg_rating < 1%} fa-solid fa-star {% endif %}"></i>
                                    <i class="{% if single_product.calc_avg_rating >= 2 %} fa-solid fa-star {% elif single_product.calc_avg_rating < 1.5 %} fa-regular fa-star  {% elif single_product.calc_avg_rating >= 1.5 and single_product.calc_avg_rating < 2%} fa-solid fa-star {% endif %}"></i>
                                    <i class="{% if single_product.calc_avg_rating >= 3 %} fa-solid fa-star {% elif single_product.calc_avg_rating < 2.5 %} fa-regular fa-star  {% elif single_product.calc_avg_rating >= 2.5 and single_product.calc_avg_rating < 3%} fa-solid fa-star {% endif %}"></i>
                                    <i class="{% if single_product.calc_avg_rating >= 4 %} fa-solid fa-star {% elif single_product.calc_avg_rating < 3.5 %} fa-regular fa-star  {% elif single_product.calc_avg_rating >= 3.5 and single_product.calc_avg_rating < 4%} fa-solid fa-star {% endif %}"></i>
                                    <i style="margin-right: 4px" class="{% if single_product.calc_avg_rating == 5 %} fa-solid fa-star {% elif single_product.calc_avg_rating < 4.5 %} fa-regular fa-star  {% elif single_product.calc_avg_rating >= 4.5 and single_product.calc_avg_rating < 5%} fa-solid fa-star {% endif %}"></i>

                                    {{ single_product.calc_avg_rating }}
                                </span>
                            </div>
                        </div>
                        <div class="card-info__indent">
                        </div>

                        <div class="card-info__size-bar">
                            <div class="card-info__size-bar__title">
                                <span>select size:</span>


                                <div class="size-select_wrapper">
                                    <select name="size" class="form-control-sm size-select" required style="font-weight: 600">
                                        <option value="" disabled selected></option>
                                        {% for i in single_product.variation_set.sizes %}
                                            <option value="{{ i.variation_value | lower }}">{{ i.variation_value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <a href="" class="card-info__size-bar__chart">
                                <span> size chart </span>
                            </a>
                        </div>


                        <div class="card-info__indent">
                        </div>

                        <div class="accordion card-info__accordion" id="accordionExample">
                            <div class="accordion-item card-info__accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span>DESCRIPTION</span>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            {{ single_product.description }}
                                        </p>
                                    </div>
                              </div>
                            </div>
                            <div class="accordion-item card-info__accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <span>FIT + SIZING</span>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            {{ single_product.sizing }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item card-info__accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <span>FABRIC + CARE</span>
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            {{ single_product.fabric }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>


{#                        {% if in_cart %}#}
{#                            <button href="#" type="button" class="card-info__button" disabled style="opacity: 0.9">#}
{#                                <i class="fa-solid fa-check"></i>#}
{#                                <span>added to cart</span>#}
{#                            </button>#}
{#                            <div class="if-in_cart">#}
{#                                <a href="{% url 'cart' %}" style="">Go to my cart</a>#}
{#                            </div>#}
{##}
{#                        {% else %}#}
                        {% if single_product.stock > 0 %}
                            <button type="submit" class="card-info__button">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span>add to cart</span>
                            </button>
                        {% else %}
                            <div class="stock_warn">
                                <i class="fa-solid fa-circle-exclamation"></i>
                                <span>out of stock</span>
                            </div>
                        {% endif %}
{#                        {% endif %}#}

                    </form>

                </div>

            </div>
            <div class="review-send-block row g-3 align-items-center">



{#                <form method="post" action="{% url 'add_rating' %}" class="col-5" name="rating">#}
{#                    <div class="rating-send-block">#}
{#                        {% csrf_token %}#}
{#                        <input type="hidden" value="{{ product.id }}" name="product">#}
{#                        <div class="rating-items">#}
{#                            {% for k, v in star_form.fields.star.choices %}#}
{#                                <input id="rating{{ v }}" type="radio" value="{{ k }}" name="star">#}
{#                                <label for="rating{{ v }}">☆</label>#}
{#                            {% endfor %}#}
{##}
{##}
{#                            <input id="id2" type="radio" value="" name="rating_star">#}
{#                            <label for="id2">☆</label>#}
{#                            <input id="id3" type="radio" value="" name="rating_star">#}
{#                            <label for="id3">☆</label>#}
{#                            <input id="id4" type="radio" value="" name="rating_star">#}
{#                            <label for="id4">☆</label>#}
{#                            <input id="id5" type="radio" value="" name="rating_star">#}
{#                            <label for="id5">☆</label>#}
{#                        </div>#}
{#                    </div>#}
{#                </form>#}

            </div>
            <div class="reviews-section">


                <form action="{% url 'submit_review' single_product.id %}" method="post" class="mb-5 review-form">
                    {% csrf_token %}
                    <span class="review-form-header mb-2">write your review</span>

                    <div class="review-star-form">
                        <label class="r-s-header">How do you rate this product?</label>

                        <br>

                        <div class="rate mt-md-2">
                            <input type="radio" name="rating" id="rating5" value="5" required  > <label for="rating5" title="5"></label>
                            <input type="radio" name="rating" id="rating4" value="4" required > <label for="rating4" title="4"></label>
                            <input type="radio" name="rating" id="rating3" value="3" required > <label for="rating3" title="3"></label>
                            <input type="radio" name="rating" id="rating2" value="2" required > <label for="rating2" title="2"></label>
                            <input type="radio" name="rating" id="rating1" value="1" required > <label for="rating1" title="1"></label>
                        </div>

                    </div>

                    <div class="main-comment-form mt-4 mb-3">
                        Write review header here:
                        <input type="text" name="subject" class="form-control">
                        <br>
                        Write review text here:
                        <textarea class="form-control review-text" name="review" rows="2"></textarea>

                        {% if user.is_authenticated %}
                            {% if order_product %}
                                <button type="submit" class="btn btn-danger review-form-send mt-4">submit review</button>
                            {% else %}
                                <span class="review-alert mt-4">You must purchase this product to post a review. </span>
                            {% endif %}
                        {% else %}
                            <span class="review-alert mt-4">You must be logged in to post a review. <a href="{% url 'login' %}">Log in now</a></span>
                        {% endif %}
                    </div>

                    {% include 'include/alerts.html' %}

                </form>

                <div class="reviews-title">
                    <span class="">customer's reviews
                        (
                        {% if reviews.count > 0 %}
                            {{ reviews.count }}

                        {% else %}
                            0
                        {% endif %}
                        )</span>
                </div>


                <div class="reviews">

                    {% for review in reviews %}
                        <div class="review-wrapper">
                            <div class="review">
                                <div class="review-body">


                                    <div class="row pt-3">
                                        <div class="col-lg-1 avatar-field" style="padding-right: 5px">
                                            <a href="#"><img src="{% static 'vendor/img/unknownuser.png' %}" alt="" style="width: 22px; height: 22px; border-radius: 50%; background-color: #FFF;"></a>
                                        </div>

                                        <div class="col-9 name-field">
                                            <a href="#"><span>{{ review.user.get_fullname }}</span></a>
                                        </div>

                                        <div class="col-lg-2 date-field">
                                            <span><i>{{ review.get_updated_at }}</i></span>
                                        </div>

                                    </div>

                                    <div class="row pt-2">
                                        <div class="col-lg-1" style="width: 35px"></div>

                                        <div class="col review-rating">

                                            {% load star_rating_tags %}

                                            {% star_rating review.rating|safe %}

                                        </div>

                                    </div>

                                    <div class="row pt-4 pb-2">
                                        <div class="col-lg-1" style="width: 35px"></div>

                                        <div class="col review-subject">
                                            <span>{{ review.subject }}</span>
                                        </div>

                                    </div>

                                    <div class="row pt-3 pb-3">
                                        <div class="col-lg-1" style="width: 35px"></div>

                                        <div class="col text-field">
                                            <p>
                                                {{ review.review }}
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>

            </div>
        </div>
    </main>


{% endblock %}

{% block js %}
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/slider-script.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}

