{% extends 'base.html' %}
{% load static %}
{% block title %} CATALOG {% endblock %}
{% block content %}
    <main>
        <div class="products-container">
            <div class="main-section">

                {% include 'include/filter.html' %}


                <div class="products-section">
                    <div class="products-section__header">
                        <div style="width: 200px;">
                            <span class="founded_items">founded <b style="font-size: 16px;">{{ product_count }}</b> items</span>
                        </div>

                        <div class="products-section__header__search_field input-group">
                            <span class="input-group-text" id="search-addon">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <input type="email" class="form-control products-section__header__search_field__form" id="searchItems" placeholder="Search" aria-describedby="search-addon">
                        </div>
                    </div>
                    <div class="products-list">
                       {% for product in products %}
                            {% if product.stock > 0 %}
                                <div class="card-item">
{#                                <a href="{% url 'add_cart' product.id %}" class="card-image__add-to-cart" style="z-index: 1;">#}
{#                                    <span class="text-center">add to cart</span>#}
{#                                </a>#}
                                <div class="card-image" style="z-index: 2;">

                                    <a href="{{ product.get_absolute_url }}">
                                        <img src="{{ product.poster.url }}" alt="{{ product.name }}" style="width: 280px; height: 374px; border-radius: 10px;">
                                    </a>
                                </div>

                                <a href="{{ product.get_absolute_url }}">
                                    <span class="card-title">
                                        {{ product.name }}
                                    </span>
                                </a>
                                <span class="card-price">
                                     {{ product.price }} rub
                                </span>
{#                                <a href="{% url 'add_cart' product.id %}" class="card-cart">#}
{#                                    <i class="fa-solid fa-cart-plus"></i>#}
{#                                </a>#}
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                {% include 'include/pagination.html' %}

            </div>
        </div>
    </main>
{% endblock %}

