{% extends 'base.html' %}
{% load static %}
{% block title %} {{ single_product.name }} {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/card-page.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="row section">
                <div class="col-6 card-images-slider">
                    {% for image in product.productimage_set.all %}
                        <div class="card-images-slider__slider-item">
                            <img src="" alt="">
                        </div>
                    {% endfor %}
                </div>

                <div class="col-6 card-info">
                    <div class="card-info__header">
                        <h1 class="card-info__header__card-title">{{ single_product.name }}</h1>

                        <span class="card-info__header__price">{{ single_product.price }} rub</span>
                    </div>
                    <div class="card-info__indent">
                    </div>
                    <div class="card-info__size-bar">
                        <h1 class="card-info__size-bar__title">item size:<b> {{ single_product.size }} </b> </h1>

                        <a href="" class="card-info__size-bar__chart">
                            <span> size chart </span>
                        </a>
                    </div>
                    <div class="card-info__indent">
                    </div>

                    <div class="accordion card-info__accordion" id="accordionExample">
                        <div class="accordion-item card-info__accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span>DESCRIPTION</span>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        {{ single_product.description }}
                                    </p>
                                </div>
                          </div>
                        </div>
                        <div class="accordion-item card-info__accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span>FIT + SIZING</span>
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        {{ single_product.sizing }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item card-info__accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <span>FABRIC + CARE</span>
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        {{ single_product.fabric }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if single_product.stock > 0 %}
                        <a href="{% url 'add_cart' single_product.id %}" type="button" class="card-info__button">
                            <i class="fa-solid fa-cart-plus"></i>
                            <span>add to cart</span>
                        </a>
                    {% else %}
                        <div class="stock_warn">
                            <i class="fa-solid fa-circle-exclamation"></i>
                            <span>out of stock</span>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="review-send-block row g-3 align-items-center">
{#                <form action="{% url 'add_review' product.id %}" method="post" class="col-10">#}
{#                    {% csrf_token %}#}
{#                    <div class="input-group main-comment-form">#}
{#                        <span class="input-group-text" id="basic-addon1">*</span>#}
{#                        <input type="text" class="form-control form-control-lg" placeholder="YOUR COMMENT" aria-label="" aria-describedby="basic-addon1" name="text">#}
{#                        <button type="submit" class="btn btn-danger">send</button>#}
{#                    </div>#}
{#                </form>#}


{#                <form method="post" action="{% url 'add_rating' %}" class="col-5" name="rating">#}
{#                    <div class="rating-send-block">#}
{#                        {% csrf_token %}#}
{#                        <input type="hidden" value="{{ product.id }}" name="product">#}
{#                        <div class="rating-items">#}
{#                            {% for k, v in star_form.fields.star.choices %}#}
{#                                <input id="rating{{ v }}" type="radio" value="{{ k }}" name="star">#}
{#                                <label for="rating{{ v }}">☆</label>#}
{#                            {% endfor %}#}
{##}
{##}
{#                            <input id="id2" type="radio" value="" name="rating_star">#}
{#                            <label for="id2">☆</label>#}
{#                            <input id="id3" type="radio" value="" name="rating_star">#}
{#                            <label for="id3">☆</label>#}
{#                            <input id="id4" type="radio" value="" name="rating_star">#}
{#                            <label for="id4">☆</label>#}
{#                            <input id="id5" type="radio" value="" name="rating_star">#}
{#                            <label for="id5">☆</label>#}
{#                        </div>#}
{#                    </div>#}
{#                </form>#}

            </div>
            <div class="reviews-section">
                <div class="reviews-title">
                    <span class="">reviews
                        (
                        {% if product.reviews_set.count > 0 %}
                            {{ product.reviews_set.count }}

                        {% else %}
                            0
                        {% endif %}
                        )</span>
                    <i class="fa-solid fa-angle-down"></i>
                </div>



                <div class="reviews">

                    {% for review in product.reviews_set.all %}
                        <div class="review">
                            <div class="review-body">
                                <div class="avatar-field">
                                    <a href="#"><img src="{% static 'vendor/img/unknownuser.png' %}" alt="" style="width: 30px; height: 30px; border-radius: 50%; background-color: #FFF;"></a>
                                </div>
                                <div class="name-field">
                                    <a href="#"><span>username</span></a>
                                </div>
                                <div class="text-field">
                                    <p>{{ review.text }}</p>
                                </div>
                                <div class="rating-field">
                                    {{ product.rating_set.filter }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </main>


{% endblock %}

{% block js %}
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/slider-script.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}

