{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/reg-screen.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="reg-screen-wrapper">
                <div class="reg-screen">
                    <span class="reg-screen__header">registration</span>

                    <div class="reg-screen__body">

                        <form method="post" action="" onsubmit="return validate_form();">

                            <div class="reg-screen__body-form">
                                    <input type="text" class="" id="registerUsername" autocomplete="off" required>
                                    <label for="registerUsername" class="form-label">
                                        <span>Username</span>
                                    </label>
                            </div>

                            <div class="reg-screen__body-form">
                                <input type="text" class="" id="registerEmail" autocomplete="on" required>
                                <label for="registerEmail" class="form-label">
                                    <span>Email</span>
                                </label>
                            </div>

                            <div class="reg-screen__body-form password-form">
                                <input type="password" class="" id="registerPassword" autocomplete="on" required name="password">
                                <label for="registerPassword" class="form-label">
                                    <span>Password</span>
                                </label>
                            </div>

                            <span class="passHelper">Your password must be 8-40 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.</span>

                            <div class="reg-screen__body-form password-confirm-form">
                                <input type="password" class="" id="registerPasswordConfirm" autocomplete="off" required name="passwordConfirm">
                                <label for="registerPasswordConfirm" class="form-label">
                                    <span>Confirm your password</span>
                                </label>
                            </div>

                            <div class="reg-screen__body-alert active" id="alert">
                                <i class="fa-solid fa-triangle-exclamation" style="color: rgba(231, 42, 42, 0.853); margin-right: 5px; font-size: 14px;"></i>
                                <span class="pass-warn" id="passWarn">Passwords don't match</span>
                            </div>

                            <button class="reg-screen-button regButton-js" type="submit">
                                <span class="reg-screen-button__text">Register</span>
                            </button>
                        </form>



                    </div>



                </div>
            </div>
        </div>
    </main>
{% endblock %}