                <div class="pre-filter-section">
                    <div class="filter-section">

                        <span class="filter-section__header">CATEGORIES</span>

                        <ul class="filter-section__list-gender">
                            <li class="category-item">
                                <a href="{% url 'store' %}" class="category__item-link">
                                    <span class="category__item-span">
                                        all products
                                    </span>
                                </a>
                            </li>
                            {% for category in links %}
                                <li class="category-item">
                                    <a href="{{ category.get_url }}" class="category__item-link">
                                        <span class="category__item-span">
                                            {{ category.name }}
                                        </span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>

                        <span class="filter-section__header" style="border: none">SIZE</span>
{#                        <ul class="filter-section__list-gender">#}
{#                            {% for genre in view.get_genres %}#}
{#                                <li class="">#}
{#                                    <input class="form-check-input" type="checkbox" id="{{ genre.name }}CheckDefault" name="category" value="{{ genre.id }}">#}
{#                                    <label class="form-check-label" for="{{ genre.name }}CheckDefault">#}
{#                                        <span class="list-gender__item-text">for {{ genre.name }}</span>#}
{#                                    </label>#}
{#                                </li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{##}
{#                        <ul class="filter-section__list-clothes">#}
{#                            <li class="clothing-menu">#}
{#                                <input type="checkbox" id="clothingMenuCheckDefault">#}
{#                                <label class="form-check-label" for="clothingMenuCheckDefault">#}
{#                                    <span class="list-clothes__item-text">clothing</span>#}
{#                                </label>#}
{#                                <ul class="filter-section__sub-list-clothes">#}
{#                                    {% for cloth in view.get_clothing %}#}
{#                                        {% if cloth.dress == "clothing" %}#}
{#                                            <li>#}
{#                                                <a href="#" class="list-item">#}
{#                                                    <span class="list-clothes__sub-item-text">#}
{#                                                        {{ a_category.name }}#}
{#                                                    </span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}
{#                                </ul>#}
{#                            </li>#}
{#                            <li>#}
{#                                <input type="checkbox" id="jeansMenuCheckDefault">#}
{#                                <label class="form-check-label" for="jeansMenuCheckDefault">#}
{#                                    <span class="list-clothes__item-text">jeans</span>#}
{#                                </label>#}
{#                                <ul class="filter-section__sub-list-jeans">#}
{#                                    {% for cloth in view.get_clothing %}#}
{#                                        {% if cloth.dress == "jeans" %}#}
{#                                            <li>#}
{#                                                <a href="#" class="list-item">#}
{#                                                    <span class="list-clothes__sub-item-text">#}
{#                                                        {{ a_category.name }}#}
{#                                                    </span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}
{#                                </ul>#}
{#                            </li>#}
{#                            <li>#}
{#                                <input class="form-check-input" type="checkbox" value="" id="accesMenuCheckDefault">#}
{#                                <label class="form-check-label" for="accesMenuCheckDefault">#}
{#                                    <span class="list-clothes__item-text">accesories</span>#}
{#                                </label>#}
{#                                <ul class="filter-section__sub-list-acces">#}
{#                                    {% for cloth in view.get_clothing %}#}
{#                                        {% if cloth.dress == "accessories" %}#}
{#                                            <li>#}
{#                                                <a href="#" class="list-item">#}
{#                                                    <span class="list-clothes__sub-item-text">#}
{#                                                        {{ a_category.name }}#}
{#                                                    </span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}
{#                                </ul>#}
{#                            </li>#}
{#                        </ul>#}
                    </div>
                </div>