{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal-login.css' %}">
    <link rel="stylesheet" href="{% static 'css/user-dropdown-menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/products.css' %}">

    {% block css %} {% endblock %}

    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg main-nav">
            <div class="container">
                <div class="row menu-row">
                    <div class="col-4 text-start menu-item">
                        <a href="#" class="nav-item">
                            <span>about us</span>
                        </a>
                    </div>
                    <div class="col-4 text-center menu-item">
                        <a href="{% url 'catalog' %}" class="navbar-brand">
                            <span>fl<b>a</b>me</span>
                        </a>
                    </div>
                    <div class="nav-item col-4 menu-item">
                        <a href="#modal-login" class="nav-item js-modal-open">
                            <span>sign in/ <br> register</span>
                        </a>

                        <div class="user-block">
                            <a href="" class="nav-item user-name">
                                <span>username</span>
                            </a>

                            <ul class="user-drop-down-menu">
                                <li class="user-drop-down-menu__item">
                                    <a href="">
                                        <span>profile</span>
                                    </a>
                                </li>
                                <li class="user-drop-down-menu__item">
                                    <a href="#">
                                        <span>cart</span>
                                    </a>
                                </li>
                                <li class="user-drop-down-menu__item">
                                    <a href="#" class="log-out">
                                        <span>log out</span>
                                    </a>
                                </li>
                            </ul>
                        </div>


                        <a href="#" class="nav-item user-cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    {% block content %} {% endblock %}

    <footer>
        <div class="container">
            <div class="row">
                <div class="col text-start">
                    <span class="footer-title">about company</span>
                    <ul class="footer-description">
                        <li>
                            <a href="#" class="footer-link">contacts</a>
                        </li>
                        <li>
                            <a href="#" class="footer-link">brand</a>
                        </li>
                        <li>
                            <a href="#" class="footer-link">about us</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <div class="footer-help">
                        <span class="footer-title">help</span>
                        <ul class="footer-description">
                            <li>
                                <a href="#" class="footer-link">delivery</a>
                            </li>
                            <li>
                                <a href="#" class="footer-link">payment</a>
                            </li>
                            <li>
                                <a href="#" class="footer-link">how to make an order</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col text-end">
                    <span class="footer-title">our social net-s:</span>
                    <ul class="footer-socials">
                        <li>
                            <a href="#" class="footer-social">
                                <i class="fa-brands fa-instagram footer-social-img"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="footer-social">
                                <i class="fa-brands fa-telegram footer-social-img"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="footer-social">
                                <i class="fa-brands fa-vk footer-social-img"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div class="modal-login" id="modal-login">
        <div class="modal-login__dialog">
            <div class="modal-login__dialog-header">
                <span class="modal-title">authorize</span>
                <a href="#" class="modal-close js-modal-close">
                    <i class="fa-solid fa-xmark"></i>
                </a>
            </div>

            <div class="modal-login__dialog-body">
                <div class="modal-login__dialog-body-content">
                    <form class="modal-login__dialog-body-content__form">
                        <div class="mb-4 login-form__email login-form-input">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-4 login-form__password login-form-input">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                    </form>
                    <a href="" class="login-form__description">
                        <span>You don't have an account? Register</span>
                    </a>
                </div>
            </div>

            <div class="modal-login__dialog-footer">
                <button type="button" class="btn btn-outline-danger btn-lg login-button js-login-button">login</button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    {% block js %} {% endblock %}
    <script src="{% static 'js/login-screen.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
</body>
</html>