{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/mainscreen-button.css' %}">
    <link rel="stylesheet" href="{% static 'css/mainscreen.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <title>FLAMESTORE</title>
</head>
<body>
    <header class="header">
        <div class="wrapper">
            <ul class="navigation">
                
                <li>
                    <span class="navigation__logo">
                        <a href="#">fl<b>a</b>me</a>
                    </span>
                </li>
                
            </ul>
        </div>
    </header>
    <main>
        <div class="wrapper">
            <section class="mainscreen">
                <div class="mainscreen__text">
                    <p>NEW VLONE <br> COLLECTION</p>
                    <p>CHOSE YOUR <br> STREET STYLE</p>
                    <a class="btn btn-4 hover-border-7" href="{% url 'catalog' %}">
                        <span class="mainscreen__button">
                            GET STARTED
                        </span>
                    </a>
                </div>
                <div class="mainscreen__slider">
                    <div class="mainscreen__slider__card">
                        <img class="mainscreen__slider__card__desc__photo" src="/static/vendor/img/slider/c2uc9H07XcM-PhotoRoom.png" alt="">
                        <a href="#"><p class="mainscreen__slider__card__desc">VLONE  DENIM FRNDS <br> JACKET  BLACK/RED</p></a>
                        <p class="mainscreen__slider__card__price">710$</p>
                    </div>
                    <div class="mainscreen__slider__card">
                        <img class="mainscreen__slider__card__desc__photo" src="/static/vendor/img/slider/hbuddzkmlls-PhotoRoom 1.png" alt="">
                        <a href="#"><p class="mainscreen__slider__card__desc">VLONE "SCARFACE" <br> BLACK LONGSLEEVE </p></a>
                        <p class="mainscreen__slider__card__price">520$</p>
                    </div>
                    <div class="mainscreen__slider__card">
                        <img class="mainscreen__slider__card__desc__photo" src="/static/vendor/img/slider/ZnFG4v5DUe4-PhotoRoom 1.png" alt="">
                        <a href="#"><p class="mainscreen__slider__card__desc">VLONE "MEXICO" <br> BLACK STAPLE TEE</p></a>
                        <p class="mainscreen__slider__card__price">200$</p>
                    </div>
                </div>
            </section>
        </div>
    </main>



    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/slider-script.js' %}"></script>
</body>
</html>