@font-face {
    font-family: 'Montserrat';
    src: url('/static/vendor/fonts/Montserrat-SemiBold.eot');
    src: url('/static/vendor/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/static/vendor/fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('/static/vendor/fonts/Montserrat-SemiBold.woff') format('woff'),
        url('/static/vendor/fonts/Montserrat-SemiBold.ttf') format('truetype'),
        url('/static/vendor/fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/vendor/fonts/Montserrat-Regular.eot');
    src: url('/static/vendor/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('/static/vendor/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('/static/vendor/fonts/Montserrat-Regular.woff') format('woff'),
        url('/static/vendor/fonts/Montserrat-Regular.ttf') format('truetype'),
        url('/static/vendor/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/vendor/fonts/Montserrat-Medium.eot');
    src: url('/static/vendor/fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('/static/vendor/fonts/Montserrat-Medium.woff2') format('woff2'),
        url('/static/vendor/fonts/Montserrat-Medium.woff') format('woff'),
        url('/static/vendor/fonts/Montserrat-Medium.ttf') format('truetype'),
        url('/static/vendor/fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/vendor/fonts/Lato-Regular.eot');
    src: url('/static/vendor/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('/static/vendor/fonts/Lato-Regular.woff2') format('woff2'),
        url('/static/vendor/fonts/Lato-Regular.woff') format('woff'),
        url('/static/vendor/fonts/Lato-Regular.ttf') format('truetype'),
        url('/static/vendor/fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/vendor/fonts/Lato-SemiBold.eot');
    src: url('/static/vendor/fonts/Lato-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/static/vendor/fonts/Lato-SemiBold.woff2') format('woff2'),
        url('/static/vendor/fonts/Lato-SemiBold.woff') format('woff'),
        url('/static/vendor/fonts/Lato-SemiBold.ttf') format('truetype'),
        url('/static/vendor/fonts/Lato-SemiBold.svg#Lato-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/vendor/fonts/Lato-Medium.eot');
    src: url('/static/vendor/fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
        url('/static/vendor/fonts/Lato-Medium.woff2') format('woff2'),
        url('/static/vendor/fonts/Lato-Medium.woff') format('woff'),
        url('/static/vendor/fonts/Lato-Medium.ttf') format('truetype'),
        url('/static/vendor/fonts/Lato-Medium.svg#Lato-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
