
/* NULE */

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

body {
    font-family: 'Lato';
    font-weight: normal;
    background-image: url('/static/vendor/img/background/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    margin: 0 auto;
    max-width: 1400px;
    color: white;
}

/* HEADER */

.navigation {
    display: flex;
    align-items: center;
    max-height: 95px;
    justify-content: space-around;
}

.navigation li {
    font-family: 'Lato';
    font-style: normal;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.4em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.navigation__logo a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 93px;

    color: #FFFFFF;
}

.navigation__logo a>b{
    color: #E94E4E;;
}

.navigation__sign_in:hover {
    text-decoration-line: underline;
}

header {
    margin-bottom: 104px;
}

/* MAIN CONTENT */

.mainscreen {
    display: grid;
    grid-template-columns: 1fr 700px;
}

.mainscreen__text p:nth-child(1){
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 66px;
    line-height: 93px;
    letter-spacing: 0.1em;

    color: #FFF7F7;

    text-shadow: 5px 10px 4px rgba(26, 23, 23, 0.25);

    margin-bottom: 53px;
}

.mainscreen__text p:nth-child(2){
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.1em;

    color: #645C5C;

    margin-bottom: 84px;
}





