 :active, :hover, :focus {
    outline: 0 !important;
    outline-offset: 0;
  }
  ::before,
  ::after {
    position: absolute;
    content: "";
  }
  

  .btn {
    position: relative;
    display: inline-block;
    width: auto; height: auto;
    background-color: #EE4949;
    border: none;
    cursor: pointer;
    min-width: 150px;
  }
    .btn span {         
      position: relative;
      display: inline-block;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      top: 0; left: 0;
      width: 100%;
      padding: 28px 55px;
      transition: 0.3s;
   }
  
  /*--- btn-4 ---*/
  .btn-4 span {
    color: #EE4949;
    background-color: rgba(20, 20, 20, 1);
  }
  /* .btn-4 span:hover {
    color: rgb(54, 56, 55);
  } */
  .btn-4::before,
  .btn-4::after {
    width: 15%; height: 2px;
    background-color: #ee4949cb;
    z-index: 2;
  }
  /* 17. hover-border-7 */
  .btn.hover-border-7::before,
  .btn.hover-border-7::after {
    bottom: 0;
    transition: width 0.2s 0.35s ease-out;
  }
  .btn.hover-border-7::before {
    right: 50%;
  }
  .btn.hover-border-7::after {
    left: 50%;
  }
  .btn.hover-border-7:hover::before,
  .btn.hover-border-7:hover::after {
    width: 50%;
    transition: width 0.2s ease-in;   
  }
  
  .btn.hover-border-7 span::before,
  .btn.hover-border-7 span::after {
    width: 0%; height: 0%;
    opacity: 0;
    z-index: 2;
    transition: width 0.2s ease-in, height 0.15s 0.2s linear, opacity 0s 0.35s;
  }
  .btn.hover-border-7 span::before {
    bottom: 0; left: 0;
    border-left: 2px solid #ee4949d0;
    border-top: 2px solid #ee4949d0;
  }
  .btn.hover-border-7 span::after {
    bottom: 0; right: 0;
    border-right: 2px solid #ee4949d0;
    border-top: 2px solid #ee4949d0;
  }
  .btn.hover-border-7 span:hover::before,
  .btn.hover-border-7 span:hover::after {
    width: 50%; height: 96%;
    opacity: 1;
    transition: height 0.2s 0.2s ease-in, width 0.2s 0.4s linear, opacity 0s 0.2s;   
  }