body{
    font-family: 'Lato';
    font-weight: normal;
    background-image: url('/static/vendor/img/background/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    padding-top: 170px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1600px;
}

.main-nav{
    background-color: rgba(20, 20, 20, 1) !important;
    z-index: 3;
}

.row, .col {
    padding: 0;
    margin: 0;
}

.menu-row{
    width: 100%;
}

.menu-item{
    display: flex;
    align-items: center;
}
.menu-item:nth-child(2){
    justify-content: center;
}
.menu-item:nth-child(3){
    justify-content: flex-end;
}

.nav-item>span {
    display: inline-block;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.4em;
    text-transform: uppercase;

    text-decoration: none;

    color: #FFFFFF;
}

.nav-item>svg{
    color: rgba(255, 255, 255, 0.76);
    font-size: 14px;

}

.navbar-brand>span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 92px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #FFFFFF;
}
.navbar-brand>span>b {
    color: rgba(233, 78, 78, 1);
}
.navbar-brand:hover{
    text-decoration: none;
    color: #FFF;
}

.user-block{
    position: relative;
}



.user-name span{
    background-image: url('/static/vendor/img/products/vph/browse-list-triangle.svg');
    background-repeat: no-repeat;
    background-position: 0 50%;


    padding-left: 20px;
}

.fa-cart-shopping {
    color: #fff;
}



/* main-section */
.products-container{
    max-width: 1400px;
    margin: 0 auto;
}


.main-section{
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    flex-flow: row wrap;
}

.filter-section{
    background-color: rgba(20, 20, 20, 1);
    width: 300px;
    padding-right: 0;
    max-height: auto;
    border-radius: 10px;
    margin-right: 70px;
}

.filter-section__header{
    width: 245px;
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;

    text-transform: uppercase;

    color: #FFFFFF;

    padding-top: 20px;
    margin-left: 25px;
    padding-bottom: 20px;

    border-bottom: 1px solid #4B4848;
}

.category-item{
    list-style: none;
    padding-bottom: 20px;
    width: 245px;
}
.category-item:nth-child(1){
    padding-top: 20px;
}
.category-item:nth-last-child(1){
    padding-bottom: 20px;
    border-bottom: 1px solid #4B4848;
}

.category__item-link{
    color: rgba(255, 255, 255, 0.76);
    text-decoration: none;
}

.category__item-span{
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 400;

    font-family: 'Montserrat';

    transition: all 0.1s;
}

.category__item-span:hover{
    color: rgba(237, 96, 96, 1);
}


/*===================== product section ====================== */
.products-section{
    display: flex;
    flex-direction: column;
}
.products-list{
    display: grid;
    grid-template-columns: 280px 280px 280px;
    column-gap: 90px;
    row-gap: 35px;
}

.founded_items {
    font-size: 15px;
    color: rgba(216, 212, 212, 0.77);

    font-family: 'Montserrat';
    text-transform: uppercase;

    letter-spacing: 0.1em;
}

.card-item {
    position: relative;
    width: 280px;
    height: 480px;
    
    background-color: rgba(20, 20, 20, 1);
    border-radius: 10px;
}

.card-item:hover .card-image__add-to-cart {
    display: flex;
}

.card-image__add-to-cart {
    color: #000 !important;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 0 0 9px 9px;
    position: absolute;
    top: 324px;
    width: 100%;
    height: 50px;


    display: none;
    justify-content: center;

}
.card-image__add-to-cart:hover span {
    color: rgba(241, 237, 237, 1);
}

.card-image__add-to-cart span {
    display: inline-block;
    font-family: 'Montserrat';
    color: rgba(241, 237, 237, 0.82);
    text-transform: uppercase;
    font-size: 17px;

    align-self: center;

}


.card-title{
    display: inline-block;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;

    letter-spacing: 0.02em;

    padding-left: 17px;
    padding-top: 15px;

    transition: all .1s;
}
.card-title:hover{
    color: rgba(233, 89, 89, 0.9);
}

.card-price{
    position: absolute;
    bottom: 18px;
    left: 0;
    display: inline-block;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.15em;

    padding-left: 17px;
    padding-top: 15px;

    color: #A69E9E;

    text-transform: uppercase;
}
.card-cart {
    display: none;
    position: absolute;
    right: 15px;
    bottom: 16px;
}
.fa-cart-plus{
    font-size: 17px;
    color: #afafaf;
}
.card-item:hover .card-cart{
    display: block;
}

/* ========================PAGINATION========================= */

.products-navigation{
    margin-left: 725px;
    margin-top: 115px;
}

.page-link{
    font-weight: 600;
    background-color: rgba(20, 20, 20, 1);
    border: none;

    font-size: 20px;

    color: rgb(189, 184, 184);
    text-transform: uppercase;

    padding: 15px 20px;
}

.page-link:hover{
    background-color: rgba(20, 20, 20, 1);
    color: #E94E4E;
}
.page-link:focus{
    background-color: #E94E4E;
    color: rgba(20, 20, 20, 1);
    border: none;
    box-shadow: none;
}

.p-dots {
    font-size: 15px;

    display: inline-block;
    height: 60px;
}

/* ==================================================FOOTER================================================= */

footer{
    background-color: rgba(20, 20, 20, 1);
    width: 100%;

    flex-shrink: 0;

    margin-top: 70px;
}
footer .col{
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 49px;
    text-transform: uppercase;

    color: #FFFFFF;
}
.footer-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-socials{
    display: flex;
    flex-direction: row;

    list-style: none;
    margin: 0;
    padding: 0;

    margin-left: 280px;
    padding-top: 20px;
}
.footer-social{
    display: inline-block;
    height: 35px;
    width: 35px;
}
.footer-social-img{
    color: #E94E4E;
    font-size: 35px;
}
.footer-socials li{
    margin-left: 45px;
}

.footer-help{
    margin-left: 200px;
}
.footer-link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 37px;
    text-transform: uppercase;

    color: #d4cfcf;

    text-decoration: none;

    padding-top: 10px;
}
.footer-link:hover{
    color: #E94E4E;
}

/* ==================================FILTER================================ */

.hide {
    display: none;
}
