{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/user-dropdown-menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart-dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/products.css' %}">

    {% block css %} {% endblock %}

    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg main-nav">
        <div class="container">
            <div class="row menu-row">
                <div class="col-4 text-start menu-item">
                    <a href="#" class="nav-item">
                        <span>about us</span>
                    </a>
                </div>
                <div class="col-4 text-center menu-item">
                    <a href="{% url 'store' %}" class="navbar-brand">
                        <span>fl<b>a</b>me</span>
                    </a>
                </div>
                <div class="nav-item col-4 menu-item">

                    {% if user.id is not None %}

                        <div class="user-block">
                            <a href="" class="nav-item user-name">
                                <span>{{ user.first_name }}</span>
                            </a>

                            <ul class="user-drop-down-menu">
                                <li class="user-drop-down-menu__item">
                                    <a href="{% url 'profile' %}">
                                        <span>profile</span>
                                    </a>
                                </li>
                                <li class="user-drop-down-menu__item">
                                    <a href="{% url 'cart' %}">
                                        <span>cart</span>
                                    </a>
                                </li>
                                <li class="user-drop-down-menu__item">
                                    <a href="{% url 'logout' %}" class="log-out">
                                        <span>log out</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="cart-block">
                            <a href="{% url 'cart' %}" class="nav-item user-cart" style="z-index: 1">
                                <div class="user-cart__nots" style="z-index: 2">
                                    <span>{{ cart_item_counter }}</span>
                                </div>
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>


                            <div class="cart-block__dropdown">
                                <div class="cart-block__dropdown-sly">
                                    <div class="cart-block__dropdown-sly-container">
                                        <div class="cart-block__dropdown-sly-container__header">
                                            <span>cart</span>
                                        </div>

                                        <div class="cart-block__dropdown-sly-container__body">
                                            {% for cart_item in cart_items %}
                                                <div class="cart-block__dropdown-sly-container__body-item">
                                                    <div class="cart-block__dropdown-sly-container__body-item__img">
                                                        <img style="width: 85px; height: auto; border-radius: 5px" src="{{ cart_item.product.poster.url }}" alt="">
                                                    </div>

                                                    <div class="cart-block__dropdown-sly-container__body-item__desc">
                                                        <span class="item-name">{{ cart_item.product.name }}</span>
                                                        <span>size:
                                                            {% if cart_item.variation.all %}
                                                                {% for var in cart_item.variation.all %}
                                                                    {{ var.variation_value }}
                                                                {% endfor %}
                                                            {% endif %}
                                                        </span>
                                                        <span>price: {{ cart_item.product.price }} RUB</span>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>

                                        <div class="cart-block__dropdown-sly-container__footer">
                                            <a href="{% url 'cart' %}" class="cart-block__dropdown-sly-container__footer-link">
                                                <span>go to my cart</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% else %}

                        <a href="{% url 'login' %}" class="nav-item">
                            <span>sign in/ <br> register</span>
                        </a>

                    {% endif %}

                </div>
            </div>
        </div>
    </nav>

    {% block content %} {% endblock %}

    <footer>
        <div class="container">
            <div class="row">
                <div class="col text-start">
                    <span class="footer-title">about company</span>
                    <ul class="footer-description">
                        <li>
                            <a href="#" class="footer-link">contacts</a>
                        </li>
                        <li>
                            <a href="#" class="footer-link">brand</a>
                        </li>
                        <li>
                            <a href="#" class="footer-link">about us</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <div class="footer-help">
                        <span class="footer-title">help</span>
                        <ul class="footer-description">
                            <li>
                                <a href="#" class="footer-link">delivery</a>
                            </li>
                            <li>
                                <a href="#" class="footer-link">payment</a>
                            </li>
                            <li>
                                <a href="#" class="footer-link">how to make an order</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col text-end">
                    <span class="footer-title">our social net-s:</span>
                    <ul class="footer-socials">
                        <li>
                            <a href="#" class="footer-social">
                                <i class="fa-brands fa-instagram footer-social-img"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="footer-social">
                                <i class="fa-brands fa-telegram footer-social-img"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="footer-social">
                                <i class="fa-brands fa-vk footer-social-img"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    {% block js %} {% endblock %}
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
</body>
</html>