{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/mainscreen-button.css' %}">
    <link rel="stylesheet" href="{% static 'css/mainscreen.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <title>{{ title }}</title>
</head>
<body>
    <header class="header">
        <div class="wrapper">
            <ul class="navigation">
                
                <li>
                    <span class="navigation__logo">
                        <a href="#">fl<b>a</b>me</a>
                    </span>
                </li>
                
            </ul>
        </div>
    </header>
    <main>
        <div class="wrapper">
            <section class="mainscreen">
                <div class="mainscreen__text">
                    <p>NEW VLONE <br> COLLECTION</p>
                    <p>CHOSE YOUR <br> STREET STYLE</p>
                    <a class="btn btn-4 hover-border-7" href="{% url 'store' %}">
                        <span class="mainscreen__button">
                            GET STARTED
                        </span>
                    </a>
                </div>
                <div class="mainscreen__slider">
                    {% for product in u_products %}
                        <div class="mainscreen__slider__card">
                            <a href="{{ product.get_absolute_url }}" class="mainscreen__slider__card__desc__photo">
                                <img src="{{ product.poster.url }}" alt="">
                            </a>
                            <a href="{{ product.get_absolute_url }}"><p class="mainscreen__slider__card__desc">{{ product.name }}</p></a>
                            <p class="mainscreen__slider__card__price">{{ product.price }} RUB</p>
                        </div>
                    {% endfor %}

                </div>
            </section>
        </div>
    </main>



    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/slider-script.js' %}"></script>
</body>
</html>